@charset "utf-8";
.login-body .login-wrapper{
	width:1170px;
}
.login-wrapper .form{
	  width:450px;
	  
}
.form-cont{
	margin:30px 40px 0;
}
.rec .icon-edit {
    width: 18px;
    height: 18px;
    display: block;
    float: left;
    margin-right: 5px;
    background: url(../img/logo/giftIcon.png) no-repeat;
}
.rec{
	color:#FF6600;
}
.userpwd {
	position: relative;
}
.username .icon-username, .userpwd .icon-userpwd {
    display: block;
   
    width: 20px;
    height: 20px;
    background: url(../img/logo/input-icon.png) no-repeat;
}
.username .icon-username {
    background-position:-15px -163px;
}

.userpwd .icon-userpwd {
    background-position:-10px -15px;
}
.userpwd .pwdInput {
    width: 200px;
}
.codeBtn{
	position: absolute;
	top:0;
	right:0;
	width:130px;
	height: 40px;
	float: right;
	background: #f6f6f6;
	text-align: center;
	line-height:40px;
}
.codeBtn span{
	  
	  font-family: "微软雅黑";
	  font-size: 14px;
	  color:#333;
}
.username .pwdIcon{
	background-position:-10px -60px;
}
.auto-login a {
	color:#08c;
}
.auto-login a:hover{
	text-decoration: underline;
	color:#f60;
}
